<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loggin</servlet-name>
        <servlet-class>com.rafael.servlets.Loggin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Objects</servlet-name>
        <servlet-class>com.rafael.servlets.Objects</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loggin</servlet-name>
        <url-pattern>/Loggin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Objects</servlet-name>
        <url-pattern>/Objects</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
